{% extends 'base.html' %}
{% load cache %}

{% block title %}
  {{ object.title }}
{% endblock %}

{% block content %}
  <h1 class="title mb-3 mt-3">
      {{ module.course.title }}
  </h1>
  <div class="contents">
      <h3 class="title mb-3">Modules</h3>
      <ul id="modules">
          {% for m in object.modules.all %}
              <div class="col-sm-6 offset-3">
                    <li data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}>
                        <a href="{% url 'student_course_detail_module' object.id m.id %}">
                            <span>
                                Module <span class="order">{{ m.order|add:1 }}</span>
                            </span>
                            <br>
                            {{ m.title }}
                        </a>
                    </li>
              </div>
          {% empty %}
            <li>No modules yet.</li>
          {% endfor %}
      </ul>
  </div>
  <div class="modules col-sm-6 offset-3">
        <h2 class="title">
          {{ module.title }}
        </h2>
          {% for content in module.contents.all %}
            {% with item=content.item %}
              <h2>{{ item.title }}</h2>
              <p class="mb-4">{{ item.render }}</p>
            {% endwith %}
          {% endfor %}

  </div>
{% endblock %}